body {
   background: url("smith-background.jpg")center no-repeat;
   background-position: cover;
   text-align: center;
   height: 500px;
   font-size:1.5em;
}

h1 {
   color: red;
   font-family: "Lobster", cursive;
}

p {
   font-family: "Raleway", sans-serif;
}
