body {
   background-color: deepskyblue;
   text-align: center;
   font-size:1.5em;
}

h1 {
<<<<<<< HEAD
   color: blue;
=======
   color: purple;
>>>>>>> 56cb8e655dbbc6dfdf1b6751bec0cc4ba4fec80f
   font-family: "Lobster", cursive;
}

p {
   font-family: "Raleway", sans-serif;
}
